.vscode/**
.vscode-test/**
out/test/**
out/semgrep-lsp.js
src/**
node_modules/**
!node_modules/vscode-languageserver
!node_modules/vscode-languageserver-protocol
!node_modules/vscode-languageserver-types
!node_modules/vscode-jsonrpc
.pre-commit-config.yaml
build.mjs
download-lspjs.sh
download-osemgrep-pro.sh
eslint.config.js
images/**
.github/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
