.search-row {
  display: flex;
  column-gap: 2px;
  padding: 2px 0;
}

.replace-all-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--vscode-icon-foreground);
  /* hack to get it to line up with the textarea */
  margin-bottom: 2px;
  /* make a little more room for the icon */
  padding: 0px 3px;
}

.disabled {
  color: var(--vscode-disabledForeground);
}
