/* TOP SECTION */

.top-section {
  padding: 0px 12px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--vscode-sideBar-background);
}

.main-input {
  padding: 4px 0px;
}

.option-button {
  background: transparent;
  color: var(--vscode-foreground);
  cursor: pointer;
  width: fit-content;
  border: none;
  position: absolute;
  /* silly hack to get it enough to the right */
  right: 12px;
  font-size: 16px;
}

/* MATCH SUMMARY */

.matches-summary {
  color: var(--vscode-search-resultsInfoForeground);
  padding: 8px;
  line-height: 1.4em;
  display: flex;
}
