body,
html,
main,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.chat-container {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}
.message.user {
  margin: 5px;
  padding-left: 5px;
  padding-right: 10px;
  margin-left: 25px;
  color: white;
  background-color: #007acc;
  border-radius: 5px;
}
.message.assistant {
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 25px;
  color: black;
  background-color: #58bc97;
  border-radius: 5px;
}
.input-container {
  display: flex;
}
.input[type="text"] {
  flex: 1;
  padding: 10px;
  margin: 10px;
}
.button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
