.chat-container {
    padding: 16px;
}
  
.examples-container {
    margin-top: 16px;
}

.examples-section {
    margin-bottom: 16px;
}

.example-box {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid;
    border-radius: 5px;
    position: relative;
}

.good-example {
    border-color: green;
}

.bad-example {
    border-color: red;
}
.close-button {
    display: flex;
    margin-right: 8px;
    background: transparent; 
    z-index: 5;
    border: none;
    cursor: pointer;
    font-size: 12px;
}
.example-content {
    flex-grow: 1;
}