.chat-container {
  padding: 16px;
}

.example-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.close-button {
  display: flex;
  margin-right: 8px;
  background: transparent;
  z-index: 5;
  border: none;
  cursor: pointer;
  font-size: 12px;
}
.example-content {
  flex-grow: 1;
}
/* force badge inside container to be as small as text */
.badge-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
